<!doctype html>
<html lang="en" ng-app="tagtree">
<head>
    <script src="bower_components/angular/angular.js"></script>
    <link  href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script>
    var app = angular.module('tagtree', []);

    app.controller('EpisodesCtrl', function ($scope) {
        $scope.viewEpisode = function(episode){
            episode.viewed = true;
        }

        $scope.episodes = [];
        for(var i=0; i < 10000; i++){
            $scope.episodes.push({title: 'This is episode # ' + i, viewed: false, date: new Date()});
        }
  });
</script>
</head>
<body>
    <div class="container"  ng-controller="EpisodesCtrl">
        <div class="spacer">
            <div class="row ">
                <div class="col-lg-4 col-lg-offset-4">
                    <input ng-model="filterTextInput" type="search" class="form-control" placeholder="Search for episode" />
                </div>
            </div>
            <div class="row spacer">
                <div class="col-lg-4 col-lg-offset-4">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="episode in episodes">
                                <td>{{episode.title}}</td>
                                <td>
                                    <a href="#" ng-click="viewEpisode(episode);">
                                        <div ng-if="!episode.viewed">
                                            View
                                        </div>
                                        <div ng-if="episode.viewed">
                                            View (again)
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>